<h1>Chapter1</h1>
<div class="list-group">

    <a asp-controller="Chapter1" asp-action="Details"
       asp-route-id="1">
        View Module Id 1
    </a>

    <a asp-controller="Chapter1" asp-action="List">
        View Modules
    </a>

   

</div>